---
title: Reforesta - VÁLVULA DE EXPULSIÓN Y ADMISIÓN DE AIRE 1/2″
---

.container
	%header
		.logo
			=image_tag 'logo-reforesta.png'
		.contact
			%span Contáctanos:
			%strong +52 133 2304 5078
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%article.expulsora
		.banner
			.image=image_tag 'http://reforesta.net/wp-content/uploads/2016/11/Valvula-Expulsion-Admision-de-Aire-1.2-WEB.png'
			.text
				%h1 Válvula de expulsión y admisión de aire 1/2"
				%p
					Utilizable para:
				%ul
					%li Obtener Control de Aire y Vacío en las Tuberías que Conducen Agua.
					%li Al iniciar el Bombeo o Reanudar el Servicio, para evitar el Golpe de Ariete.
					%li Durante la Operación, para Evitar que el Aire quede Atrapado en algunas áreas o que sea contado como consumo de agua en medidores de uso doméstico.
					%li Al apagar el sistema, para Evitar la Formación de Vacío y Colapso de Tuberías.


		.products
			.grid-items-lines
				%a.grid-item{:href => "javascript:void(0)", target: '_blank'}
					=image_tag 'http://reforesta.net/wp-content/uploads/2016/11/Valvula-Expulsion-Admision-de-Aire-1.2-WEB4-478x478.png'
				%a.grid-item{:href => "javascript:void(0)", target: '_blank'}
					=image_tag "http://reforesta.net/wp-content/uploads/2016/11/Valvula-Expulsion-Admision-de-Aire-1.2-WEB1-478x478.png"
				%a.grid-item{:href => "javascript:void(0)", target: '_blank'}
					=image_tag "http://reforesta.net/wp-content/uploads/2016/11/Valvula-Expulsion-Admision-de-Aire-1.2-WEB3-478x478.png"

				.right-cover
				.bottom-cover
			
		.consulte
			¡Consulte precios especiales por cantidad!
		.contact-info
			%span Esperamos su llamado <br>
			%strong +52 133 2304 5078 <br>
			%span Solicite cotizaciones por cantidad y reciba un descuento especial <br>
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%footer
		%h4 ¿Necesitas otros productos?
		Descarga nuestro catálogo completo
		=link_to 'aquí', 'http://reforesta.net/wp-content/uploads/reforesta.pdf'


