---
title: Reforesta - Toma domiciliaria para agua potable
---

.container
	%header
		.logo
			=image_tag 'logo-reforesta.png'
		.contact
			%span Contáctanos:
			%strong +52 133 2304 5078
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%article
		.banner
			.image=image_tag 'toma-domiciliaria-agua-potable-reforesta.jpg'
			.text
				%h1 Toma domiciliaria para agua potable
				%h3
					Eficiente ✓<br> Segura ✓ <br> Durable ✓
		.products
			.grid-items-lines
				%a.grid-item{:href => "javascript:void(0)", target: '_blank'}
					=image_tag 'adaptador-multitubo.png'
					%h1 ADAPTADOR MULTITUBO
					%p  Permiten conectar 12 opciones posibles de tubos.
					.price 25.00 MXN*

				%a.grid-item{:href => "http://reforesta.net/producto/herraje-sujecion-conector-12-34-copiar/", target: '_blank'}
					%img{:alt => "", :src => "http://reforesta.net/wp-content/uploads/2016/11/Reforesta-Herraje-de-sujecio%CC%81n-AC01-HHM-1-478x478.jpg"}/
					%h1 HERRAJE DE SUJECIÓN
					%p Conecta y sujeta el cuadro de medición a la caja: 1/2" / 3/4".
					.price 35.00 MXN* c/u

				%a.grid-item{:href => "http://reforesta.net/producto/valvula-antifraude-hh-12/", target: '_blank'}
					%img{:alt => "", :src => "http://reforesta.net/wp-content/uploads/2014/06/Valvula-anti-fraude-1-2-600x600.jpg"}/
					%h1 VÁLVULA ANTIFRAUDE
					%p Bloquea o limita el suministro de agua y funciona como llave de paso.
					.price 96.00 MXN*

				%a.grid-item{:href => "http://reforesta.net/producto/medidores-de-agua-dorot/", target: '_blank'}
					%img{:alt => "", :src => "http://reforesta.net/wp-content/uploads/2014/06/medidor.jpg"}/
					%h1 MEDIDOR
					%p Medidor de Agua 1/2" chorro múltiple para agua potable.
					.price 360.00 MXN*

				%a.grid-item.grid-item-big{:href => "http://reforesta.net/producto/cajas-de-registro-para-medidor/", target: '_blank'}
					%img{:alt => "", :src => "http://reforesta.net/wp-content/uploads/2014/10/Caja-de-Registro-PPL-con-cerradura-TCA-1.jpg"}/
					%h1 CAJA DE REGISTRO
					%p Para instalación de toma domiciliaria bajo banqueta.
					.price 255.00 MXN*

				.right-cover
				.bottom-cover
			%h4
				* Todos los precios son más IVA. L.A.B. Guadalajara México. Mínimo de 50 unidades.
		.consulte
			¡Consulte precios especiales para constructoras!
		.contact-info
			%span Esperamos su llamado <br>
			%strong +52 133 2304 5078 <br>
			%span Solicite cotizaciones por cantidad y reciba un descuento especial <br>
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%footer
		%h4 ¿Necesitas otros productos?
		Descarga nuestro catálogo completo
		=link_to 'aquí', 'http://reforesta.net/wp-content/uploads/reforesta.pdf'


