---
title: Reforesta - VÁLVULAS ANTIFRAUDE 1/2″
---

.container
	%header
		.logo
			=image_tag 'logo-reforesta.png'
		.contact
			%span Contáctanos:
			%strong +52 133 2304 5078
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%article.antifraude
		.banner
			.image=image_tag 'http://reforesta.net/wp-content/uploads/2014/06/Valvula-anti-fraude-1-2-478x478.jpg'
			.text
				%h1 Válvulas antifraude de 1/2"
				%p El sistema de válvula Antifraude es un innovador mecanismo anti moroso que permite bloquear o limitar el suministro de agua sin necesidad de dañar la toma domiciliaria, además funciona como llave de paso para el usuario.

		.products
			.grid-items-lines
				%a.grid-item{:href => "http://reforesta.net/producto/valvula-antifraude-hh-12/", target: '_blank'}
					=image_tag 'http://reforesta.net/wp-content/uploads/2014/06/Valvula-anti-fraude-1-2-478x478.jpg'
					%h1 Válvula Maneral Plástico
					%p 3 Funciones: llave de paso, corte total y siempre abierta.
				%a.grid-item{:href => "http://reforesta.net/producto/valvula-antifraude-multifuncion-metalica/", target: '_blank'}
					=image_tag 'http://reforesta.net/wp-content/uploads/2016/11/LE33-13.jpg'
					%h1 Válvula multifunción
					%p 4 Funciones: llave de paso, corte total, corte parcial, y siempre abierta.
				%a.grid-item{:href => "http://reforesta.net/producto/valvula-antifraude-tca-12/", target: '_blank'}
					=image_tag "http://reforesta.net/wp-content/uploads/2014/06/tca3.jpg"
					%h1 Válvula multifunción Italiana
					%p 4 Funciones: llave de paso, corte total, corte parcial, y siempre abierta.

				.right-cover
				.bottom-cover

		.consulte
			¡Consulte precios especiales por cantidad!
		.contact-info
			%span Esperamos su llamado <br>
			%strong +52 133 2304 5078 <br>
			%span Solicite cotizaciones por cantidad y reciba un descuento especial <br>
			%span=link_to 'ventas@reforestamexico.com', 'mailto:ventas@reforestamexico.com'
	%footer
		%h4 ¿Necesitas otros productos?
		Descarga nuestro catálogo completo
		=link_to 'aquí', 'http://reforesta.net/wp-content/uploads/reforesta.pdf'


